body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f5f5f5;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.grid-item {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  cursor: default;
}

.grid-item.correct {
  background-color: green;
  color: white;
}

.grid-item.wrong {
  background-color: red;
  color: white;
}

.grid-item:not(.correct):not(.wrong):hover {
  background-color: #ddd;
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }  

  .grid-item {
    font-size: 14px;
    height: auto;
    padding: 15px;
  }
}
